@model OnlineFridge.Models.ViewModels.FullRecipeBook

@{
    ViewData["Title"] = "Details";
}

<script src="https://kit.fontawesome.com/f1f4a03335.js" crossorigin="anonymous"></script>
<style>
    .card {
        padding: 5px;
    }

    h2 {
        text-align: center;
    }

    .recipeImg {
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .recipeList {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding-inline-end: 10%;
        padding-inline-start: 10%;
    }

    .recipeList li p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h2>@Html.DisplayFor(model => model.recipe.recipeName)</h2>
            <hr />
            @{
                string imageName = Model.recipe.RecipeID + ".png";
            }
            <div class="img-container">
                <img class="recipeImg" src="~/images/RecipeImages/@imageName" onerror="this.src = '/images/missing.png'">
            </div>
            <hr />
            <ul class="recipeList">
                <li>
                    <p>Prep Time</p>
                    <p><i class="fas fa-clock"></i> @Model.recipe.prepTime min</p>
                </li>
                <li>
                    <p>Food Category</p>
                    <p>@Model.recipe.foodCategory</p>
                </li>
                <li>
                    <p>Cook Time</p>
                    <p><i class="fas fa-fire"></i> @Model.recipe.cookTime min</p>
                </li>
            </ul>
            <hr />
            <dd>
                @Html.DisplayFor(model => model.recipe.recipeDesc)
            </dd>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h2>Ingredients</h2>
            <hr />
            <ul>
                @foreach (var quantity in Model.quantities)
                {
                    <li>@quantity.quantity @quantity.ingredient.ingredientName</li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h2>Steps</h2>
            <hr />
            <div>
                @foreach (var step in Model.steps)
                {
                    <p>@step.stepNumber. @step.stepDescription</p>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        resizeImage();
        $(window).resize(resizeImage);
    });

    function resizeImage() {
        $(".img-container").each(function () {
            $(this).css("height", $(this).width() * 0.56);
        });
    }
</script>