@model OnlineFridge.Data.PagedList<OnlineFridge.Models.Recipe>

@{
    ViewData["Title"] = "Recipe Book";
}

<link rel="stylesheet" href="css/recipeCard.css">
<script src="https://kit.fontawesome.com/f1f4a03335.js" crossorigin="anonymous"></script>

<h1>Recipe Book</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div id="recipeList" class="row">
    @foreach (var item in Model)
    {
        string imageName = item.RecipeID + ".png";
        <div class="col-md-3">
            <div class="img-container">
                <img class="recipeImg" src="~/images/RecipeImages/@imageName">
            </div>
            <div class="info">
                <section class="candy-stripe">
                    <ul>
                        <li class="stripe"></li>
                        <li class="stripe"></li>
                        <li class="stripe"></li>
                        <li class="stripe"></li>
                        <li class="stripe"></li>
                        <li class="stripe"></li>
                        <li class="stripe"></li>
                    </ul>
                </section>

                <h3>@item.recipeName</h3>
                <hr />
                <ul class="recipeList">
                    <li>
                        <p><i class="fas fa-clock"></i> @item.prepTime min</p>
                        <p>Prep Time</p>
                    </li>
                    <li>
                        <p><i class="fas fa-fire"></i> @item.cookTime min</p>
                        <p>Cook Time</p>
                    </li>
                </ul>
                <hr />
                <p class="description">@item.recipeDesc</p>
                <a asp-controller="Recipe" asp-action="Details" asp-route-id="@item.RecipeID" class="btn viewRecipe">View Recipe</a>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.hasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.hasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.pageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>

<a asp-action="Index" asp-route-pageNumber="@(Model.pageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        resizeImages();
        resizeCards();
        $(window).resize(resizeImages);
        $(window).resize(resizeCards);
    });

    function resizeImages() {
        $(".img-container").each(function() {
            $(this).css("height", $(this).width() * 0.56);
        });
    }

    function resizeCards() {
        var maxHeight = 0;
        $(".info").each(function() {
            $(this).css("height", "auto");
            maxHeight = $(this).height() > maxHeight ? $(this).height() : maxHeight; 
        });
        $(".info").each(function() {
            var buttonHeight = $(this).find(".viewRecipe").height();
            $(this).css("height", maxHeight + buttonHeight*2);
        });
    }
</script>